In [4]:
import pandas as pd

In [26]:
df = pd.read_json('ling_stats.txt')

In [44]:
pd.set_option('display.max_rows', len(df))
pd.set_option('display.max_colwidth', 90)

mask = ~df['categorie'].isin(['shape_']) & (df['tokens'] > 1) & (df['q'] > 0.1)

df[['categorie','value','types','tokens','q', 'l']][mask].sort_values(['categorie', 'tokens','q'], ascending=False)

,categorie,value,types,tokens,q,l
16,tag_,NN,11961,61392,0.194830,"[time , 332, music , 309, film , 285, number , 241, government , 225, part , 211, albu..."
27,tag_,NNP,17152,57391,0.298862,"[United , 329, New , 286, General , 244, John , 200, State , 172, National , 164, Augu..."
10,tag_,JJ,5126,28787,0.178066,"[first , 609, other , 555, such , 463, new , 365, many , 352, same , 220, several , 21..."
26,tag_,NNS,5750,21616,0.266007,"[years , 283, people , 183, years, 158, members , 152, players , 87, patients , 84, ri..."
5,tag_,VBN,2284,13568,0.168337,"[been , 713, used , 430, known , 278, based , 230, called , 189, made , 184, released ..."
36,tag_,CD,1844,11449,0.161062,"[one , 627, two , 534, three , 253, 1 , 153, four , 134, 2010, 122, 2009, 117, One , 1..."
29,tag_,VB,1618,8246,0.196216,"[be , 1492, have , 311, take , 112, make , 110, become , 84, use , 82, see , 72, do , ..."
12,tag_,VBZ,824,7434,0.110842,"[is , 3438, has , 948, does , 89, 's , 68, consists , 56, uses , 52, includes , 44, ma..."
1,tag_,VBG,1594,7040,0.226420,"[being , 352, including , 288, following , 138, using , 124, having , 107, According ,..."
8,tag_,VBP,521,3463,0.150448,"[are , 1427, have , 525, include , 91, do , 80, use , 26, are, 23, do, 21, provide , 2..."
43,tag_,NNPS,621,1292,0.480650,"[People, 23, Lions , 20, Records, 17, Affairs , 16, Muslims , 15, Jews , 15, Germans ,..."
47,tag_,JJR,94,856,0.109813,"[more , 255, higher , 61, lower , 54, larger , 50, better , 36, less , 34, older , 30,..."
46,tag_,JJS,72,663,0.108597,"[most , 143, best , 101, Most , 58, largest , 54, least , 42, highest , 33, greatest ,..."
18,tag_,FW,125,234,0.534188,"[etc, 29, de , 29, i.e. , 14, i.e., 7, di , 5, des , 4, de, 4, ≤, 4, le , 3, īyuḥ, 3]"
3,tag_,NFP,42,185,0.227027,"[” , 36, – , 32, “, 26, ..., 15, ... , 13, ‘, 8, • , 7, ’ , 5, * , 4, ’s , 3]"
15,tag_,$,18,151,0.119205,"[$, 80, #, 31, US$, 12, £, 11, × , 2, $ , 2, A$, 2, e.g. , 1, 500mm, 1, 4–10 , 1]"
49,tag_,UH,44,79,0.556962,"[No , 7, No, 6, no , 5, O , 4, well , 3, Oh , 3, µm, 3, Goin, 3, like , 3, O, 3]"
32,tag_,LS,44,65,0.676923,"[km/h, 7, 2, 5, 3, 4, 1, 3, kg, 3, B-339E, 2, 2 , 2, b, 2, m, 2, formula_26, 1]"
28,tag_,XX,37,58,0.637931,"[’s , 11, L., 5, co, 4, k, 4, – , 2, population—were , 1, pre, 1, formula_70 , 1, ⊆, 1..."
37,tag_,ADD,36,46,0.782609,"[PolitiFact.com , 9, 9M111 , 2, AT-3A , 2, वाहिकास्वस्वकाहि , 1, http://faculty.hampsh..."
51,pos_,NOUN,17645,83968,0.210140,"[who , 703, time , 332, music , 309, film , 285, years , 283, number , 241, government..."
60,pos_,VERB,7009,58747,0.119308,"[was , 4254, is , 3438, be , 1493, were , 1465, are , 1427, had , 1139, has , 948, hav..."
54,pos_,PROPN,17644,58683,0.300666,"[United , 329, New , 286, General , 244, John , 200, State , 172, National , 164, Augu..."
65,pos_,ADJ,5334,37175,0.143484,"[his , 1854, which , 1281, their , 896, that , 873, its , 674, first , 609, other , 55..."
62,pos_,NUM,1844,11449,0.161062,"[one , 627, two , 534, three , 253, 1 , 153, four , 134, 2010, 122, 2009, 117, One , 1..."
61,pos_,X,197,402,0.490050,"[non, 64, etc, 29, de , 29, i.e. , 14, ’s , 11, PolitiFact.com , 9, i.e., 7, di , 5, L..."
57,pos_,INTJ,44,79,0.556962,"[No , 7, No, 6, no , 5, O , 4, well , 3, Oh , 3, µm, 3, Goin, 3, like , 3, O, 3]"
79,ent_type_,PERSON,6673,17078,0.390737,"['s , 207, John , 191, -, 190, Zia , 131, William , 113, Charles , 94, Isabella , 82, ..."
84,ent_type_,ORG,5304,15802,0.335654,"[the , 1279, of , 408, The , 257, -, 184, National , 124, 's , 120, State , 111, Unive..."
83,ent_type_,DATE,1233,11574,0.106532,"[the , 644, , , 397, years , 209, -, 141, March , 140, November , 140, August , 139, S..."
76,ent_type_,GPE,2292,8226,0.278629,"[the , 326, United , 259, New , 187, States , 145, U.S. , 104, North , 89, Norway , 83..."
73,ent_type_,WORK_OF_ART,2157,4219,0.511259,"[The , 274, "", 140, of , 130, the , 109, -, 66, and , 42, : , 38, Portal, 35, "" , 31, ..."
81,ent_type_,CARDINAL,870,3939,0.220868,"[two , 447, one , 345, three , 190, four , 99, One , 84, five , 61, 1 , 54, than , 47,..."
72,ent_type_,NORP,552,3264,0.169118,"[French , 220, American , 190, British , 169, Indian , 101, Norwegian , 95, Japanese ,..."
75,ent_type_,LOC,440,1096,0.401460,"[the , 115, North , 42, Europe, 30, Europe , 27, South , 23, America, 22, America , 19..."
86,ent_type_,EVENT,257,867,0.296424,"[the , 139, War , 98, World , 77, War, 42, Great , 30, of , 16, II, 16, Cold , 16, II ..."
80,ent_type_,FAC,486,819,0.593407,"[the , 72, Great , 20, Basin , 13, Interstate , 13, Fort , 10, Port , 9, Camp , 9, Lak..."
82,ent_type_,MONEY,219,459,0.477124,"[$, 48, million , 39, , 24, billion , 13, million, 12, US$, 10, approximately , 8, ab..."
71,ent_type_,PRODUCT,272,436,0.623853,"[Windows , 36, -, 18, YouTube , 15, "", 9, 737, 7, the , 6, Minh , 6, Việt , 6, Beretta..."
78,ent_type_,PERCENT,150,428,0.350467,"[% , 108, %, 26, percent , 13, than , 10, about , 9, 80, 8, 40, 8, 20, 7, more , 7, pe..."
77,ent_type_,TIME,175,406,0.431034,"[hours , 28, the , 24, minutes , 17, hour , 11, minutes, 11, -, 11, night , 11, of , 9..."
87,ent_type_,QUANTITY,192,311,0.617363,"[tons , 24, , 10, miles , 10, -, 8, million , 6, meters , 5, about , 5, yards , 5, on..."
85,ent_type_,LAW,96,171,0.561404,"[the , 25, "", 9, Constitution , 6, of , 6, Geneva , 5, -, 5, Act, 4, Constitution, 3, ..."
74,ent_type_,LANGUAGE,19,151,0.125828,"[English , 97, English, 25, Latin , 6, German, 3, Greek, 3, French, 2, Arabic , 2, Dut..."
67,ent_iob_,B,10523,41676,0.252495,"[the , 2561, first , 582, The , 550, two , 492, one , 340, French , 227, three , 222, ..."
66,ent_iob_,I,8981,28672,0.313232,"[of , 750, -, 702, , , 432, 's , 418, United , 252, "", 246, years , 207, the , 188, an..."
128,dep_,pobj,16412,49589,0.330960,"[which , 286, time , 183, time, 155, years , 133, years, 131, September , 122, Novembe..."
115,dep_,compound,10504,34756,0.302221,"[United , 309, New , 287, General , 219, John , 178, music , 164, National , 160, Nort..."
97,dep_,amod,5128,27788,0.184540,"[first , 578, other , 510, such , 450, new , 362, many , 280, same , 207, several , 20..."
109,dep_,nsubj,6218,22739,0.273451,"[he , 1117, it , 740, which , 666, that , 653, who , 635, He , 626, they , 536, It , 3..."
105,dep_,ROOT,4348,19287,0.225437,"[is , 1396, was , 943, are , 435, were , 299, used , 225, had , 198, has , 194, made ,..."
96,dep_,conj,10670,18095,0.589666,"[is , 183, was , 177, are , 84, in , 80, had , 67, used , 64, be , 53, were , 50, beca..."
126,dep_,dobj,7095,16526,0.429323,"[it , 185, him , 167, them , 124, that , 119, her , 94, which , 66, it, 66, place , 62..."
111,dep_,advmod,1450,14130,0.102619,"[also , 987, when , 507, as , 328, only , 322, where , 320, most , 314, more , 286, la..."
101,dep_,poss,1249,7077,0.176487,"[his , 1846, their , 896, its , 672, her , 540, His , 180, whose , 66, Their , 54, our..."
110,dep_,nummod,1262,6907,0.182713,"[two , 481, one , 252, three , 228, four , 113, 1 , 106, five , 88, 10 , 82, 2, 76, 1,..."
94,dep_,nsubjpass,2502,5838,0.428571,"[which , 228, it , 223, It , 220, he , 136, that , 130, they , 107, He , 99, who , 64,..."
103,dep_,advcl,2445,5672,0.431065,"[is , 150, was , 138, using , 70, are , 69, were , 55, used , 39, making , 36, be , 34..."
123,dep_,appos,3937,5339,0.737404,"[one , 33, 2010, 19, itself, 18, all , 16, itself , 16, son , 16, 2009, 14, Brother , ..."
91,dep_,ccomp,1470,3639,0.403957,"[was , 329, is , 272, be , 114, are , 100, were , 86, had , 60, have , 46, used , 27, ..."
118,dep_,relcl,1533,3597,0.426188,"[is , 109, was , 95, are , 60, used , 51, had , 43, were , 35, made , 35, have , 31, h..."
121,dep_,attr,2140,3525,0.607092,"[one , 121, part , 54, member , 36, estate , 25, estate, 21, court , 19, set , 17, alb..."
133,dep_,acl,1180,3335,0.353823,"[known , 124, called , 95, used , 81, based , 72, named , 52, made , 52, built , 48, l..."
108,dep_,xcomp,1230,2981,0.412613,"[be , 208, have , 51, take , 41, make , 39, use , 35, do , 30, create , 27, see , 19, ..."
114,dep_,acomp,1185,2415,0.490683,"[able , 80, available , 48, similar , 30, possible , 28, unable , 27, common , 20, pop..."
116,dep_,pcomp,946,2294,0.412380,"[to , 145, of , 89, being , 88, taking , 27, having , 27, making , 24, using , 23, win..."
119,dep_,npadvmod,981,2119,0.462954,"[years , 106, year , 67, year, 52, self, 36, time , 30, day , 29, days , 29, times , 2..."
125,dep_,nmod,1272,1863,0.682770,"[de , 46, $, 33, #, 30, non, 18, ’s , 17, Secretary , 11, Chief , 11, U.S. , 11, Tutsi..."
132,dep_,oprd,617,711,0.867792,"[one , 14, available , 10, statewide , 7, dead , 6, guilty , 3, member , 3, Battle , 3..."
113,dep_,quantmod,101,565,0.178761,"[than , 94, to , 83, over , 75, $, 48, a , 35, up , 20, about , 16, some , 13, US$, 12..."
122,dep_,dep,282,340,0.829412,"[all , 15, both , 11, ’s , 6, the , 4, The , 4, each , 3, L., 3, while , 2, if , 2, – ..."
127,dep_,dative,98,314,0.312102,"[to , 134, him , 26, them , 13, her , 13, for , 11, it , 6, episode , 4, album , 4, so..."
107,dep_,parataxis,201,259,0.776062,"[see , 18, is , 9, born , 8, was , 6, know, 3, called , 3, 2004, 3, excluded, 2, him, ..."
131,dep_,preconj,24,229,0.104803,"[both , 104, either , 59, not , 32, neither , 7, Both , 5, Neither , 4, but , 1, 25.5 ..."
95,dep_,csubj,117,139,0.841727,"[born , 8, using , 4, playing , 3, is , 3, called , 3, killing , 2, 's , 2, were , 2, ..."
99,dep_,meta,54,82,0.658537,"[. , 15, km/h, 5, as , 3, 3, 3, 2, 3, one , 2, B-339E, 2, 1, 2, a, 2, xi, 1]"
117,dep_,intj,53,76,0.697368,"[No, 5, O , 4, Oh , 3, Goin, 3, like , 3, well, 3, well , 2, no , 2, say, 2, A , 2]"
100,dep_,csubjpass,13,13,1.000000,"[firing , 1, starring , 1, reported , 1, 's , 1, refer , 1, approaching , 1, mixed , 1..."

In [11]:
df.describe()

                q         tokens         types
count  952.000000     952.000000    952.000000
mean     0.728285    2907.686975    369.272059
std      0.362444   20479.972380   2368.892367
min      0.000086       1.000000      1.000000
25%      0.462600       1.000000      1.000000
50%      1.000000       2.000000      2.000000
75%      1.000000      18.250000      6.000000
max      1.000000  391005.000000  35101.000000